.custom-zoom [data-rmiz-modal-overlay],
.custom-zoom [data-rmiz-modal-img] {
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.custom-zoom [data-rmiz-modal-overlay="hidden"],
.custom-zoom [data-rmiz-modal-overlay="visible"] {
  transition: color 0.1s ease-in-out, background-color 0.2s ease-in-out;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(4px);
}
